*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}


header{
    display: flex;
    justify-content: center;
    height: 120px;
}


.container{
    display: flex;
    justify-content: space-between;
    width: 990px;
}


.logo{
    display: flex;
    align-items: center;
}


.menu{
    display: flex;
    align-items: center;
}


nav ul, nav li{
    list-style: none;
    margin: 0;
    padding: 0;
}


nav ul {
    display: flex;
}


nav a{
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
}


.active:hover{
    background-color: #39aae1;
    color: white;
    transition: 0.8s;
}


#banner{
    display: flex;
    justify-content: center;
    background-image: url(../images/pexels-nappy-935985.jpg);
    background-position: center;
    background-size: cover;
    height: 670px;
}


.column{
    flex-direction: column;
}


.headline{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.headline h1{
    font-size: 60px;
    color: white;
    text-shadow: 0px 2px 0 #000000;
    margin: 0;
    padding: 0;
    max-width: 300px;
}


.headline h4{
    font-size: 20px;
    color: white;
    text-shadow: 0px 2px 0 #000000;
    margin: 0;
    padding: 0;
    max-width: 350px;
    margin-top: 25px;
}


.options{
    height: 210px;
    display: flex;
}


.banner1{
    flex: 1;
    background-color: #39aae1;
    color: white;
    padding: 20px;
}


.banner2{
    flex: 1;
    background-color: #0079c7;
    color: white;
    padding: 20px;
}


.banner3{
    flex: 1;
    background-color: #2b4c99;
    color: white;
    padding: 20px;
}


.banner1 h1, .banner2 h1, .banner3 h1 {
    font-size: 1.3rem;
}


.banner1 p, .banner2 p, .banner3 p{
    font-size: 0.9rem;
    margin:20px 0px;
    font-weight: normal;
}


.banner1 a, .banner2 a{
    color: white;
    text-decoration: none;
    border: 2px solid white;
    padding: 10px;
    display: inline-block;
}


.banner1 a:hover{
    background-color: white;
    color: #39aae1;
    transition: 0.5s;
}


.banner2 a:hover{
    background-color: white;
    color: #0079c7;
    transition: 0.5s;
}


.banner3 p {
    display: flex;
    border-bottom: 1px solid white;
    justify-content: space-between;
}


#geral{
    display: flex;
    justify-content: center;
}


#geral section{
    flex: 2;
}


#geral aside{
    flex: 1;
}


.widget_title{
    margin-top: 30px;
    margin-bottom: 20px;
}


.widget_title_text{
    font-weight: bold;
    font-size: 1.2rem;
    color: #000000;
    margin-bottom: 15px;
}


.widget_title_bar{
    border-bottom: 7px solid #2b4c99;
    width: 50px;
    margin-top: 3px;
}


.q1, .q2, .q3, .q4, .q5, .q6{
    width: 125px;
    height: 125px;
    background-color: #39aae1;
    margin: 20px; 
}


#geral aside .quadris{
    display: flex;
    flex-wrap: wrap;
}


article .news_data{
    display: flex;
}


article .news_posted{
    background-color: #2b4c99;
    color: white;
    font-size: 0.9rem;
    padding: 10px;
    margin-right: 2px;
    margin-top: 20px;
}


article .news_comment{
    background-color: #39aae1;
    color: white;
    font-size: 0.9rem;
    padding: 10px;
    margin-top: 20px;
}


article .thumb {
    margin-top: 30px;
}


article .thumb img {
    width: 100%;
    height: auto;
}


article .news_title{
    color: #000000;
    font-size: 1.4rem;
    font-weight: bold;
    margin: 25px 0px;
}


article .news_resume{
    color: #5c5c5c;
    font-size: 0.9rem;
    line-height: 17px;
}


article a{
    text-decoration: none;
}


article {
    flex: 1;
    min-width: 300px;
    margin-right: 20px;
}


article .news_resume {
    margin-bottom: 40px;
}


.flex{
    display: flex;
    flex-wrap: wrap;
}


footer{
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
}


.footer_menu{
    display: flex;
    flex: 1;
}


.fm1,.fm2,.fm3{
    flex: 1;
    color: white;
}


.fm1{
    background-color: #39aae1;
}


.fm2{
    background-color: #0079c7;
}


.fm3{
    background-color: #2b4c99;
}


.fm1 h1,.fm2 h1,.fm3 h1{
    font-size: 1.4rem;
    display: flex;
    margin: 30px 0px;
    margin-left: 30px;
    font-weight: bold;
}


.fm1 h3,.fm2 h3,.fm3 h3{
    font-size: 0.9rem;
    display: flex;
    margin: 30px 0px;
    margin-left: 30px;
    font-weight: normal;
}


.footer_area{
    display: flex;
    flex: 1;
}


.item1, .item2, .item3{
    display: flex;
    flex: 1;
}


.flexcolumn{
    flex-direction: column;
}


footer .widget_title_text{
    color: white;
}


footer .widget_title_bar{
    border-bottom: 7px solid #39aae1;
}


.footer_copy{
    color: #5c5c5c;
    border-top: 1px solid #5c5c5c;
    height: 40px;
    line-height: 40px;
}


.footer_copy span{
    color: white;
}


footer .widget_text span {
    color: white;
}


footer .widget_text h1 {
    color: #5c5c5c;
    font-size: 0.9rem;
    line-height: 20px;
    font-weight: normal;
}


footer .widget_text .h1blue{
    color: #39aae1;
    margin-bottom: 20px;
    margin-top: 8px;
}


footer .item1 h1{
    justify-content: space-between;
    display: flex;
    margin-right: 15px;
}


footer .item1 .five {
    margin-bottom: 20px;
}


aside .contact h1 {
    color: #5c5c5c;
    font-size: 0.9rem;
    margin: 20px 0px;
    padding-bottom: 10px;
    font-weight: normal;
}


aside .contact .line {
    padding-bottom: 15px;
    font-weight: 500;
}


aside .contact span {
    font-weight: bold;
    color: #000000;
}


footer img{
    height: 30px;
    width: 30px;
    margin-top: 70px;
    margin-right: 8px;
}


aside img{
    height: 30px;
    width: 30px;
    margin-right: 10px;  
}


.info{
    display: flex;
    flex-direction: row;
    align-items: center;
}


.base{
    height: 3px;
    width: 320px;
    background-color: rgba(88, 88, 88, 0.5);
}

.menu_mob{
    display: none;
    height: 40px;
    width: 40px;
    margin: 40px 0px;
    margin-right: 20px;
}

.menu_mob:hover{
    cursor: pointer;
}

.mm{
    height: 3px;
    background-color: #39aae1;

}


/* Media*/


@media screen and (max-width:800px) {
    .headline {
        padding: 20px;
    }

    .headline h1{
        font-size: 50px
    }

    .headline h4{
        font-size: 15px;
    }

    .options{
        height: auto;
        flex-direction: column;
    }

    .container{
        flex-direction: column;
        width: 100%;
    }

    #geral section, #geral2 aside {
        padding: 20px;
    }

    #geral .widget_title_text {
        margin-top: 50px;
    }

    .widget_title {
        padding: 30px;
    }

    .footer_menu{
        flex-direction: column;
    }

    .footer_area{
        padding: 20px;
        flex-direction: column;
    }

    .footer_copy {
        padding-left: 20px;
    }

    header .container {
        flex-direction: row;
    }

    nav ul {
        flex-direction: column;
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
        background-color: aliceblue;

    }

    header {
        height: auto;
    }

    .logo {
        padding-left: 20px;
    }

    .menu_mob{
        display: flex;
        flex-direction: column;
        justify-content: space-around;

    }

}
